.icon-left {
	position: absolute;
	top: 10px;
	left: 10px;
	animation: icon-animation 5s linear infinite;
}

.icon-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
	animation: icon-animation 5s linear infinite;
}

.season-display {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.season-display.winter i {
	color: blue;
}

.season-display.summer i {
	color: red;
}

.winter {
	background-color: aqua;
}

.summer {
	background-color: orange;
}

@keyframes icon-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
